# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Makefile
getab
getalpha
getax
getevec
stab

#Datafiles
*.dat
first.*
second.*
profile.*
cprofile.*
csecond.*
cfirst.*
time.1
space.1
nr_piksr2.f
nr_rtflsp.f
nr_rtsafe.f
